<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="Moq" version="4.5.16" targetFramework="net461" />
  <package id="NUnit" version="2.6.4" targetFramework="net461" />
  <package id="ReadOnlyCollectionInterfaces" version="1.0.0" targetFramework="net40" requireReinstallation="true" />
  <package id="System.Collections.Immutable.Net40" version="1.0.30.17" targetFramework="net40" />
</packages>